 <div class="row">

    <div class="col-sm-8 blog-main">

    <%= render '_news', {:max_articles => 100, :news_title => "News archive"} %>

    </div>

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="hidden-print hidden-xs hidden-sm" role="complementary">
              <div class="sidebar-module">
                <h4>Index</h4>
                <ul class="list-unstyled">
                 <% sorted_articles.each_with_index do |post, i| %>
                    <li><a href="#post<%= i %>"><%= post[:title] %></a></li>
                <% end %>
                </ul>
              </div>
           </ul>
        </div>
    </div>

</div>