<%= render '_top' %>

        <%= yield %>

		<hr />

		<p><div class="footer">Author: <a href="<%= @config[:user_mmc] %>">Morten M. Christensen</a>, <a href="http://www.41concepts.com">41concepts</a></div></p>

<%= render '_bottom' %>
