body {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

#forkme_banner {
  padding: 5px 25px 5px 5px;
  color: #fff;
  background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
  background-size: 18px 18px;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.label-fg-color {
  color: #5bc0de;
}
